language: java
jdk: oraclejdk8
sudo: false # faster builds
install:
  - mvn test-compile -DskipTests=true -Dmaven.javadoc.skip=true -B -V
  
script:
  - mvn clean jacoco:prepare-agent install jacoco:report
  - mvn test jacoco:report
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - mvn coveralls:report
